<form class="add-to-cart-form" action="/cart" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <button class="btn" type="submit" <%= product.stock === 0 ? 'disabled' : '' %>>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"/><circle cx="20" cy="21" r="1"/><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"/></svg>
    <%= product.stock === 0 ? 'Out of Stock' : 'Add to Cart' %>
  </button>
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
