<script src="/js/main.js"></script>
<script src="/js/cart-add.js"></script>
<script src="/js/cart-drawer.js"></script>
<script src="/js/search.js"></script>
<script src="/js/animations.js"></script>
</body>

</html>