<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="error-page">
            <span class="error-page__eyebrow">Restricted</span>
            <p class="error-page__code">403</p>
            <h1 class="error-page__title">Access <em>denied</em>.</h1>
            <p class="error-page__subtitle">You don't have permission to view this page. If you think this is a mistake, head back to the shop.</p>
            <a href="/" class="btn btn--solid">Back to Shop</a>
        </div>
    </main>
<%- include('includes/end.ejs') %>
