<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="error-page">
            <span class="error-page__eyebrow">Not found</span>
            <p class="error-page__code">404</p>
            <h1 class="error-page__title">We can't find <em>that page</em>.</h1>
            <p class="error-page__subtitle">The link may be broken or the page may have moved. Try heading back to the shop.</p>
            <a href="/" class="btn btn--solid">Back to Shop</a>
        </div>
    </main>
<%- include('includes/end.ejs') %>
